* {
	margin: 0;
	padding: 0;
}

.title {
	color: orange;
	margin: 10px;
	font-weight: 100;
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
}

#clock {
	text-align: center;
	width: 100%;
	height: 200px;
	position: relative;
	margin-top: 150px;
	background-image: linear-gradient(45deg, #361752, #B31B67);
    	background-image: -webkit-linear-gradient(45deg, #361752, #B31B67);
    	background-image: -moz-linear-gradient(45deg, #361752, #B31B67);
    	background-image: -ms-linear-gradient(45deg, #361752, #B31B67);
    	background-image: -o-linear-gradient(45deg, #361752, #B31B67);
    	color: white;
}

#clock span {
	top: 20px;
	cursor: pointer;
	position: relative;
	margin: 0 auto;
	height: 140px;
	font-size: 140px;
	font-weight: bold;
	font-family: Arial;

	transition: linear 0.2s;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
	-ms-transition: linear 0.2s;
	-o-transition: linear 0.2s;
}

#clock span:hover {
	color: orange;

	transition: linear 0.2s;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
	-ms-transition: linear 0.2s;
	-o-transition: linear 0.2s;
}

#controls {
	position: relative;
	margin: 50px;
	text-align: center;
	height: 40px;
}

.control {
	border: 0px;
	border-radius: 5px;
	background: orange;
	color: white;
	cursor: pointer;
	display: inline-block;
	margin: 0 10px;
	outline: none;
	font-family: Arial;
	font-size: 23px;
	width: 250px;
	height: 50px;

	transition: linear 0.2s;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
	-ms-transition: linear 0.2s;
	-o-transition: linear 0.2s;
}

.control:hover {
	background: red;

	transition: linear 0.2s;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
	-ms-transition: linear 0.2s;
	-o-transition: linear 0.2s;
}