* {
    margin: 0;
    padding: 0;
}

body {
    background: #e0e1e4;
}
/* --- HEADER --- */
#header {
    background: linear-gradient(top, #1b3043, #0e1f2e);
    background: -webkit-linear-gradient(top, #1b3043, #0e1f2e);
    background: -moz-linear-gradient(top, #1b3043, #0e1f2e);
    background: -ms-linear-gradient(top, #1b3043, #0e1f2e);
    background: -o-linear-gradient(top, #1b3043, #0e1f2e);
    height: 190px;
    width: 100%;
    min-width: 1070px;
}

.header-container {
    width: 1070px;
    height: 135px;
    margin: 0 auto;
}

.header-logo {
    display: inline-block;
    height: 100px;
    padding-top: 15px;
    float: left;
    /*margin-left: 166px;*/
}

.header-logo-icon {
    color: #90a8bf;
    cursor: pointer;
    background: #112434;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 3px solid grey;
    font-size: 40px;
    font-weight: bold;
    padding-top: 17px;
    padding-left: 4px;

    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
}

.header-logo-icon:hover {
    border-color: white;
    color: white;

    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
}

.header-logo-title {
    margin-left: 30px;
    display: inline-block;
    color: #cbcbcb;
    font-size: 50px;
    font-weight: bold;
}

.header-login {
    display: inline-block;
    float: right;
    padding-top: 30px;
}

.header-login-form {
    width: 370px;
}

.header-login-input {
    background: #15283a;
    color: #cbcbcb;
    display: inline-block;
    outline: none;
    border: 1px solid aqua;
    height: 27px;
    width: 200px;
    margin-bottom: 10px;
    margin-right: 18px;
    padding: 4px;

    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
}

.header-login-input:focus {
    border-color: white;

    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
}

.header-login-button {
    display: inline-block;
    border: 1px solid grey;
    background: aqua;
    font-weight: bold;
    color: white;
    outline: none;
    text-shadow: 0 0 2px black;
    height: 27px;
    width: 107px;

    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
}

.header-login-button:hover {
    background: white;
    color: aqua;
    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
}

.header-login-link {
    display: inline-block;
    text-decoration: none;
    color: #cbcbcb;
    cursor: pointer;

    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
}

.header-login-link:hover {
    color: aqua;
    text-decoration: none;

    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
}

.header-menu-container {
    display: block;
    clear: both;
    position: relative;
    width: 800px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
}

.header-menu {
    float: left;
    line-height: 50px;
}

.header-menu-item {
    display: inline-block;
    cursor: pointer;
    color: black;
    text-shadow: 1px 1px 1px white;
    height: 50px;
    width: 126px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    margin-right: 1px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(top, #fefefe 0%, #bdc0c6 57%, #adb0b7 58%, #797d82 75%, #c1c3ca 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%, #bdc0c6 57%, #adb0b7 58%, #797d82 75%, #c1c3ca 100%);
    background: -moz-linear-gradient(top, #fefefe 0%, #bdc0c6 57%, #adb0b7 58%, #797d82 75%, #c1c3ca 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #bdc0c6 57%, #adb0b7 58%, #797d82 75%, #c1c3ca 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #bdc0c6 57%, #adb0b7 58%, #797d82 75%, #c1c3ca 100%);
}

.header-menu-item:hover {
    background: linear-gradient(top, #c2c2c2, #4f4f4f);
    background: -webkit-linear-gradient(top, #c2c2c2, #4f4f4f);
    background: -moz-linear-gradient(top, #c2c2c2, #4f4f4f);
    background: -ms-linear-gradient(top, #c2c2c2, #4f4f4f);
    background: -o-linear-gradient(top, #c2c2c2, #4f4f4f);
}
/* --- END HEADER --- */

/* --- MAIN CONTENT --- */
#main-wrap {
    width: 100%;
}

#main-wrap .content {
    width: inherit;
    margin-bottom: 10px;
}

#main-wrap .content.block-info {
    background: url(../images/design/silver.jpg) no-repeat 50% 50%;
    /*background-attachment: fixed;*/
    background-size: cover;
    height: 490px;
}

#main-wrap .content.block-slider {
    background: url(../images/design/boat.jpg) no-repeat 50% 50%;
    /*background-attachment: fixed;*/
    background-size: cover;
    height: 700px;
}

#main-wrap .content.block-bottom {
    background: url(../images/design/boat.jpg) no-repeat 50% 50%;
    /*background-attachment: fixed;*/
    background-size: cover;
    height: 650px;
}

#main-wrap .block-bottom-menu {
    list-style: none;
    text-align: center;
    padding: 500px 0 20px;
}

#main-wrap .block-bottom-menu .menu-row-container{
    display: block;
}

#main-wrap .block-bottom-menu-item {
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 8px 0 4px;
    border-right: 1px solid white;
    color: white;
    font-size: 20px;
}

#main-wrap .block-bottom-menu-item:last-child {
    border-right: none;
}

#main-wrap .block-bottom-menu-item a {
    text-decoration: none;
    cursor: pointer;
    color: white;

    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
}

#main-wrap .block-bottom-menu-item a:hover {
    text-shadow: 0 0 5px white;

    transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
}

#main-wrap .content.block-footer {
    background: #13324b;
    text-align: center;
    height: 50px;
}

#main-wrap .content.block-footer span {
    display: block;
    padding-top: 15px;
    color: #00b3ee;
    font-size: 14px;
}